.select {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 5px;
    overflow: hidden;
    background: #fafafa url("http://muhammedzaim.com/upload/u/869680428.gif") no-repeat 92% 30%;
}

.select select {
    padding: 5px 10px;
    width: 130%;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
}

.select select:focus {
    outline: none;
}
